.main-wrapper{
    text-align: center;
}
.wrapper-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.table-wrapper{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
   
    width: fit-content;
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
    text-align: right;
}


.left, .right {
   
    border: 1px solid;
    
    flex: 1;
    width: 100%;
   
    
    
    
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.right {
    text-align: center;
    height: auto;
    padding-bottom: 20px;
    

}

.bottom {
    padding: 20px;
    border: 1px solid;
    width: 100%;
   
    margin-bottom: 50px;
}

.debt-info-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.debt-info{
    text-align: left;
    
}




form{
    text-align: center;
    width: 100%
}

button{
    margin-top: 20px;
}

th,td{
    width: 85px;
}

th { 
    text-align: center;
    position: sticky; 
    top: 0; 
    background-color: white;
}

td{
    padding-right: 10px;
}

